@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.quote {
  border: none;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 600px;
  text-align: center;
}

.randomImage {
  width: 100%;
  height: auto;
}

h3 {
  font-family: "Pacifico", sans-serif;
}

.favBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.favBtn:hover {
  background-color: pink;
  color: red;
}
